@import "_config.scss";
@import "_menu.scss";

* {
  box-sizing: border-box;
}

body {
  @include background;
  overflow: hidden;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    //h1/h2/h3 class, the & specifies this is NOT a nested class
    font-size: 6rem; //Rem multiples the default html font size (which is 16px)
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    //Will only affect class of 'icons' inside the html 'main' tag
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh; //VH is the same as ViewPort Height. 100 = full height.
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;

  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-site: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 2rem 3rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Particles.js CSS

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.simple-linear-topbottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(248, 1, 1, 0) 50%, rgb(0, 0, 0.5));
  z-index: -4;
}

.simple-linear-bottomtop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(248, 1, 1, 0) 50%, rgb(0, 0, 0.5));
  z-index: -4;
}

.logo {
  position: absolute;
  width: 350px;
  height: 200px;
  right: 50px;
  bottom: 50px;
  z-index: -5;
  background: url("../img/AugitLtd.png");
  background-repeat: no-repeat;
  opacity: 1;
}

// Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//KEEP AT END
@import "_mobile.scss";
